<link rel="stylesheet" href="about.component.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




    
    <section class="home animated fadeIn fast">
        <div class="home-content animate__animated animate__backInUp">
            <h1>
                SOBRE MI 
            </h1>
            <img src="assets/img/Curriculum_Johnny_Arica_Prado.jpg" width="180" alt="" class="home-img">
            
            <h1> Johnny Arica Prado</h1>
            <h2> Estudiante Tecnologias de la Informacion</h2>
            <p>Mi nombre es Johnny Enrique Arica Prado, tengo 20 años y actualmente curso el Quinto Semestre en la 
                Carrera de Ingenieria en Tecnologias de la Informacion en la Universidad Tecnica de Machala. Mis hobbies son: Editar videos, jugar futbol, ir al gimnasio y hacer natacion.</p>
                <div class="home-sci">
                    <a href="https://www.facebook.com/JohnnyAriPra11"><i class='bx bxl-facebook' ></i></a>
                    <a href="https://www.instagram.com/johhny_arica/"><i class='bx bxl-instagram' ></i></a>    
                </div>
        </div>
    
        <span class="home-imgHover"></span>
    
    </section>

