<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/car.png" alt="Bootstrap" width="40" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['rutas']" routerLinkActive="active">Rutas Todas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['interno']" routerLinkActive="active">Rutas Interno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['externo']" routerLinkActive="active">Rutas Externo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['quienessomos']" routerLinkActive="active">Quienes Somos</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" [routerLink]="['protegida']" routerLinkActive="active">Protegida</a>
         </li>
      </ul>
      
      <ng-container *ngIf="auth.user$ | async as profile" >
        <form class="d-flex" (submit)="$event.preventDefault()" role="search">
          <input class="form-control me-2" type="text" placeholder="Buscar Vehiculo" (keyup.enter)="buscarVehiculo(buscarTexto.value)" #buscarTexto>
          <button (click)="buscarVehiculo(buscarTexto.value)"
            class="btn btn-outline-primary btn-block" type="button">Buscar
          </button>
        </form>
      </ng-container>
      
      
      
      <h6 *ngIf="auth.user$ | async as profile" style="color: aliceblue;"> {{profile.name}} </h6>
      <form class="d-flex" role="search">
        <button class="btn btn-danger" *ngIf="!(auth.isAuthenticated$ | async)" (click)="login()">Login</button>
        <button class="btn btn-primary" *ngIf="(auth.isAuthenticated$ | async)" (click)="logout()">Logout</button>
      </form>

    </div>
  </div>
</nav>
</body>
</html>