

<div class="container">

    <h1 class="animated fadeIn"> {{ heroe.nombre | uppercase}} <small> ({{ heroe.aparicion | date:'y' }}) </small></h1>
    <hr>

<div class="row animated fadeIn fast">
    <div class="card w-50 col">

        <div class="card-body">
            <img src="{{ heroe.img }}" class="img-fluid animate__animated animate__flipInX" alt="{{ heroe.nombre }}">
        <br><br>
            <div class="d-grid gap-2">
                <a [routerLink]="['/heroes']" class="btn btn-danger btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>
            {{ heroe.bio }}
        </p>
        <div>
            <img *ngIf="heroe.casa =='Marvel'" class="img-logo" src="assets/img/marvel.png" alt="Marvel">
            <img *ngIf="heroe.casa =='DC'" class="img-logo" src="assets/img/DC_Comics_logo.png" alt="DC">
        </div>
    </div>

</div>

</div>