body{
    padding-bottom: 100px;
    background-image: url(assets/img/bgMarvel.jpg);
    background-size: cover;
}

footer{
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;    
}

.container-fluid{
    margin-top: 20px;
}

.img-logo{
  width: 120px;
}

/* ANIMACIONES */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}